<div class="row">
  <div class="col-md-4 red bold four-em-height">
    left side
  </div>
  <div class="col-md-5 yellow italic fantasy bold textcenter four-em-height">
    <h1>Welcome#hello</h1>
  </div>
  <div class="col-md-3 red bold four-em-height">
    right side
  </div>
</div>
<div class="row">
  <div class="col-md-11 blue three-em-height">
  </div>
  <div class="col-md-1 blue three-em-height">
<p>line up to the right</p>
  </div>
</div>
