@import "bootstrap-sprockets";
@import "bootstrap";



body{
  background: green;
}

.container{
    background: grey;
}


.blue{
  background: blue;
}


.three-em-height{
  height: 3em;
}

.red{
  background: red;
}

.two-em-height{
  height: 2em;
}

.yellow{
  background: yellow;
}

.four-em-height{
  height: 4em;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.fantasy{
  font-family: fantasy;
}

.textcenter{
  text-align: center;
}

a {
    color: black;
    font-family: "arial black", sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-size: medium;
}

ol {
  font-weight:bold;
  color: green;
}

h2 {
  color: green;
}

.btn {
  border-radius: 24px;
  border-style: groove;
}
